tmp/
pdf/
txt/
static/thumbs/
*.p
*.pyc
as.db
secret_key.txt
env/
data
*.DS_Store
twitter.txt

# Visual studio
.vscode/

my_env/
dist/

# dependencies
node_modules/

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
